/*Variables*/
.root{
--color-sandy: #bda753;
}
/*Common styles*/
a.link{

    text-decoration: none;
    transition: opacity .25s ease;
}
a.link:hover{
    opacity: .7 ;
}

/*Header*/
.header{

    height: 110vh;
    background: url(../Images/Logo.JPG) no-repeat center;
    background-size: cover;
    /*clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 98% 100%, 84% 100%, 15% 100%, 4% 100%, 0% 85%);*/
}

.header-top{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background: rgb(253, 253, 253,96%);
    position: fixed;
    top: 0;
    z-index: 1000;

}


.menu-element__link{
    color: #000000;
    font-family: "Courier New", monospace;
    white-space: nowrap;
}
.logo{
    font-size: 26px;
    font-family: "Courier New", monospace;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5em;


    margin-right: 2vh;
    margin-left: 1vh;
    color: #000000;

}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-element{
    margin-right: 1vh;
}
.menu-element:last-child {
    margin-right: 0;

}
.menu-element a.link.active, .menu-element a.link:hover{
    color: #bda753;
}

/*about-me*/
.about-me {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при нехватке места */
    padding: 20px; /* Отступы внутри секции */
    /*background-color: #f9f9f9; /* Цвет фона секции */
    border-radius: 8px; /* Скругление углов */
    /*  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); Тень для секции */
    font-family: "Courier New", monospace;
}

/* Стили для левой части */
.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

/* Стили для изображения */
.about-me__images {
    max-width: 100%;
    height: auto;

}

/* Стили для правой части */
.right {
    margin-top: 10%;
    flex: 2;
    padding-left: 20px;
    margin-left: auto;
    display: block;

}

/* Стили для заголовка */
.about-me__title {
    font-size: 24px;
    margin-bottom: 10px;
}


.about-me__description {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;

}
.about-me__description2 {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;

}

.gray {
    color: #4b7aac;
}


.about-me__extra {
    list-style-type: none;
    padding: 0;
}

.about-me__extra-elements {
    margin-bottom: 5px;
}


.bold {
    font-weight: bold;
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .right {
        padding-left: 0;
        text-align: left;
    }
}
.works{
    font-family: "Courier New", monospace;
}
.work-cases{
    text-align: center;
}
.portfolio {
    padding: 20px;
    background-color: #f9f9f9;
}

.portfolio-container {
    display: flex;

}

.portfolio-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio-item h3 {
    margin-top: 10px;
}
.portfolio-item a {
    color: #bda753;
    font-family: "Courier New", monospace;
    white-space: nowrap;

}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: row; /* Горизонтальное направление для мобильных устройств */
        overflow-x: auto; /* Позволяет прокручивать контейнер по горизонтали */
        width: 100%; /* Фиксированная ширина для карточек */
        scroll-snap-type: x mandatory; /* Добавляет эффект "прилипания" при прокрутке */
        scroll-snap-align: start; /* Элемент "прилипает" к началу контейнера при прокрутке */
    }

    .portfolio-item {
        min-width: 250px; /* Минимальная ширина для карточек на мобильных устройствах */
    }
}

footer {
    background-color: #fdfdfd; /* Темный фон */
    color: #333; /* Белый текст */
    padding: 20px; /* Отступы вокруг содержимого */
    text-align: center; /* Центрируем текст */
    width: 100%;
}

.socials {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0 0 10px 0; /* Убираем внешние отступы, оставляем отступ снизу */
}

.social-element {
    display: inline-block; /* Выравнивание в одну строку */
    margin: 0 15px; /* Отступы между элементами */
    height: 30px;
    width: 30px;
}

.social-element__linl {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

.social-element__linl:hover {
    color: #bda753; /* Цвет при наведении */
}

.footer-about {
    margin-top: 10px; /* Отступ сверху для текста о владельце */
    font-size: 14px; /* Размер шрифта */
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .social-element {
        margin: 0 10px; /* Уменьшаем отступы на мобильных устройствах */
    }

    .footer-about {
        font-size: 12px; /* Уменьшаем размер шрифта для мобильных устройств */
    }
}

body {
    margin: 0;
    padding: 0;
    height: 2000px; /* Для демонстрации прокрутки */
}

.floating-button {
    position: fixed;
    bottom: 20px; /* Отступ от нижней границы */
    right: 20px; /* Отступ от правой границы */
    background-color: #bda753; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 50%; /* Скругление углов */
    padding: 10px 15px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    height: 50px;
    width: 50px;
}

.floating-button:hover {
    background-color: #4e4323; /* Цвет фона при наведении */
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх других элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: white;
    color: #000000;
    margin: 15% auto; /* Центрирование окна */
    padding: 20px;
    border-radius: 5px;
    width: 80%; /* Ширина окна */
    max-width: 500px; /* Максимальная ширина окна */
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; /* Цвет при наведении */
    text-decoration: none;
    cursor: pointer;
}